@font-face {
    font-family: 'Mulish-Black';
    src: url("mulish/Mulish-Black.ttf");
}
@font-face {
    font-family: 'Mulish-BlackItalic';
    src: url("mulish/Mulish-BlackItalic.ttf");
}
@font-face {
    font-family: 'Mulish-Bold';
    src: url("mulish/Mulish-Bold.ttf");
}
@font-face {
    font-family: 'Mulish-BoldItalic';
    src: url("mulish/Mulish-BoldItalic.ttf");
}
@font-face {
    font-family: 'Mulish-ExtraBold';
    src: url("mulish/Mulish-ExtraBold.ttf");
}
@font-face {
    font-family: 'Mulish-ExtraBoldItalic';
    src: url("mulish/Mulish-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: 'Mulish-ExtraLight';
    src: url("mulish/Mulish-ExtraLight.ttf");
}
@font-face {
    font-family: 'Mulish-ExtraLightItalic';
    src: url("mulish/Mulish-ExtraLightItalic.ttf");
}
@font-face {
    font-family: 'Mulish-Italic';
    src: url("mulish/Mulish-Italic.ttf");
}
@font-face {
    font-family: 'Mulish-Italic-VariableFont_wght';
    src: url("mulish/Mulish-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Mulish-Light';
    src: url("mulish/Mulish-Light.ttf");
}
@font-face {
    font-family: 'Mulish-LightItalic';
    src: url("mulish/Mulish-LightItalic.ttf");
}
@font-face {
    font-family: 'Mulish-Medium';
    src: url("mulish/Mulish-Medium.ttf");
}
@font-face {
    font-family: 'Mulish-MediumItalic';
    src: url("mulish/Mulish-MediumItalic.ttf");
}
@font-face {
    font-family: 'Mulish-Regular';
    src: url("mulish/Mulish-Regular.ttf");
}
@font-face {
    font-family: 'Mulish-SemiBold';
    src: url("mulish/Mulish-SemiBold.ttf");
}
@font-face {
    font-family: 'Mulish-SemiBoldItalic';
    src: url("mulish/Mulish-SemiBoldItalic.ttf");
}
@font-face {
    font-family: 'Mulish-VariableFont_wght';
    src: url("mulish/Mulish-VariableFont_wght.ttf");
}